<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Projects</title>
</head>
<body>
    {{> header}}
    <p>Here you can see my projects</p>
    {{> footer}}
</body>
</html>